[Unit]
Description=Aibox Service
After=network.target

[Service]
ExecStart=/usr/bin/docker-compose -f /home/sergienko/aibox/docker-compose.yml up
WorkingDirectory=/home/sergienko/aibox
Restart=always
User=sergienko

[Install]
WantedBy=multi-user.target