[Unit]
Description=Aibox Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/sergienko/aibox/aibox.py
Restart=always
User=sergienko
WorkingDirectory=/home/sergienko/aibox
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aibox
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target