[Unit]
Description=Socket Service
After=network.target

[Service]
ExecStart=/home/ssergienko/aibox/venv/bin/python3 /home/ssergienko/aibox/video/sockets.py
Restart=always
User=ssergienko
WorkingDirectory=/home/ssergienko/aibox/video
StandardOutput=file:/home/ssergienko/aibox/aibox.log
StandardError=file:/home/ssergienko/aibox/aibox_error.log
SyslogIdentifier=sockets
Environment=PYTHONUNBUFFERED=

[Install]
WantedBy=multi-user.target