<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Stream</title>
</head>
<body>
    <h1>Live Camera Stream</h1>
    <img id="video" src="" alt="Video stream not available" loading="lazy">
    <script>
        let websocket = null;
        const videoElement = document.getElementById('video');
        const websocketUrl = 'ws://192.168.0.124:8765';
        let revokeTimer;
        let rebootTimer;
        const myrevoke = (url) => URL.revokeObjectURL(url);
        const initWebSocket = () => {
            const self = this;
            websocket = new WebSocket(websocketUrl);
            websocket.binaryType = 'blob';
            websocket.onopen = () => console.log('WebSocket connection established.');
            websocket.onclose = () => console.log('WebSocket connection closed');
            websocket.onerror = (error) => console.error('WebSocket error:', error);
            websocket.onmessage = (event) => {
                if(event.data instanceof Blob) {
                    const blob = new Blob([event.data], { type: 'image/jpeg' });
                    const url = URL.createObjectURL(blob);
                    videoElement.src = url;
                    setTimeout(() => { myrevoke(videoElement.src); }, 1000);
                }
            };
        };
        initWebSocket();
    </script>
</body>
</html>